.Navbar {
    height: 60px;
    background: linear-gradient(90deg, skyblue, orange);
    text-align: center;
}

.Timer {
    width: 150px;
    height: 150px;
    border: 1px solid #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
}