.details-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
}

.errors,
.time,
.wpm,
.accuracy {
    width: 150px;
    height: 150px;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 22px;
    background-color: antiquewhite;
    border-radius: 15px;
}

.errors {
    color: red;
}

.wpm {
    color: rgb(201, 109, 10);
}

.cpm {
    color: green;
}

.time {
    color: blueviolet;
}

.heading {
    text-align: center;
    /* margin-top: 20px; */
    padding-top: 20px;
}

.next {
    width: 30%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid orange;
    background-color: blanchedalmond;
    border-radius: 15px;

}

.nxtChar {
    color: blue;
    font-size: 1.5em;
}